.info-logement {
  color: $color-1;
  font-family: $font-1;
  font-weight: 500;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  margin: 20px 80px;

  .title-logement {
    font-size: 36px;
    line-height: 51.34px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .location-logement {
    font-size: 18px;
    line-height: 25.67px;
  }

  .host {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .name {
      font-family: $font-1;
      font-size: 18px;
      line-height: 25.67px;
      padding-right: 10px;
    }

    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }
  }

  .tags-rating-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 15px 0;

    .tags-container {
      display: flex;
      gap: 20px;
      color: white;

      span {
        padding: 10px 20px;
        border-radius: 10px;
        background-color: $color-1;
      }
    }
  }
}

@media screen and (max-width: 415px) {
  .info-logement {
    margin: 20px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .title-logement {
      font-size: 25px;
      line-height: 25.67px;
      font-weight: 400;
    }

    .location-logement {
      font-size: 14px;
    }

    .host {
      .name {
        width: 85px;
      }
    }

    .tags-rating-container {
      flex-direction: column;
      justify-content: flex-start;
      margin: 10px 0;
      gap: 25px;

      .tags-container {
        gap: 10px;

        span {
          padding: 6px;
          font-size: 13px;
        }
      }
    }
  }
}
