.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  color: $color-1;
  margin: 100px 0;

  h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 51.34px;
  }

  a {
    font-size: 18px;
    line-height: 25.67px;
    text-decoration: none;
    color: $color-1;

    :hover {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 415px) {
  .not-found {
    img {
      width: 198px;
      height: 99px;
    }

    h1 {
      font-size: 18px;
      line-height: 25.67px;
      text-align: center;
      width: 260px;
    }

    a {
      font-size: 14px;
    }
  }
}
