// Fichier de style qui permet d'être utiliser dans n'importe qu'elle autre style. Pratique pour les mixins, les variables et autres fantaisies de SCSS

// Font
@font-face {
  font-family: Montserrat-VariableFont_wght;
  src: url(../../public/assets/fonts/Montserrat-VariableFont_wght.ttf);
}

//Variables
$font-1: "Montserrat-VariableFont_wght", "Times New Roman";

$color-1: #ff6060;
$BGColor-footer: #000000;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-1;
}

html,
body {
  height: 100vh;
}

body {
  max-width: 1400px;
  margin: auto;
  position: relative;
}

li {
  list-style-type: none;
  text-decoration: none;
}
